.container{
    text-align: center;
    justify-content: center;
    display: flex;
}

h1{
    padding: 1rem;
}
.container{
    text-align: center;
    justify-content: center;
    display: flex;
}

h1{
    padding: 1rem;
}